.container {
    display: grid;
    grid-template-columns: 15rem 1fr;
    width: 100%;
    height: calc(100% - 5rem);
}

.container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-right: solid 1px var(--cl-border);
}

.container ul li {
    padding: 0.25rem;
    cursor: pointer;
    color: var(--cl-focus);
}

.container aside {
    display: grid;
    grid-auto-rows: 3.5rem 1fr;
}

.container ul li:hover {
    color: white;
    background: var(--cl-focus);
}

.left-margin {
    margin-left: 1rem;
}

[aria-selected]:before {
    content: "";
    display: inline-block;
    background: var(--cl-error);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}