section.inline {
    display: inline-table;
    margin: 1rem;
}

section.inline h2 {
    font-size: 1rem;
}

section.inline ul {
    display: block;
    height: 32rem;
    width: 10rem;
    border: solid 1px #dadada;
}