section.inline {
    display: inline-table;
    margin: 1rem;
}

section.inline h2 {
    font-size: 1rem;
}

section.inline ul {
    display: block;
    height: 15rem;
    width: 10rem;
    border: solid 1px #dadada;
}

svg {
    border: solid 1px #dadada;
    display: block;
}

path {
    fill: none;
    transition: all 1s cubic-bezier(0.68, 0.28, 0.07, 1.29);
}