h2 {
    text-align: center;
    color: var(--cl-primary);
    background: var(--cl-border);
    padding: 1rem;
}

widgets-component {
    display: block;
    border-right: solid 1px var(--cl-border);
}

.container {
    display: grid;
    grid-template-columns: 20rem 1fr;
    height: calc(100% - 7rem);
}

.container svg rect {
    transition: all 0.5s ease-out;
}

#position {
    position: absolute;
    left: 250px;
    top: 120px;
}

#size {
    position: absolute;
    left: 450px;
    top: 120px;
}