<style>
    source-links {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 1rem;
        background: white;
        border: solid 1px #dadada;
        box-shadow: 0 0 6px 0px #dfdfdf;
        border-radius: 5px;
    }

    source-links ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    source-links ul li {
        padding: 0.25rem;
    }

    source-links li a,  a:visited {
        color: var(--cl-focus);
        text-decoration: none;
        width: 100%;
        height: 100%;
        display:block;
    }

    source-links li:hover {
        background: var(--cl-focus);
    }

    source-links li:hover a {
        color: white;
    }

    source-links h3 {
        margin: 0 0 0.7rem 0;
        color: #e91e63;
    }
</style>

<h3>Source Links</h3>
<nav>
    <ul>
        <template for="item of $globals.source">
            <li><a href="${item.url}" target="_blank">${item.title}</a></li>
        </template>
    </ul>
</nav>