<style>
    source-links {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 1rem;
        background: white;
        border: solid 1px #dadada;
        box-shadow: 0 0 6px 0px #dfdfdf;
        border-radius: 5px;
    }

    source-links h3 {
        margin: 0 0 0.7rem 0;
        color: #e91e63;
    }
</style>

<h3>Source Links</h3>
<a href="${$globals.source.html}" target="_blank">HTML Source</a> <br/>
<a href="${$globals.source.js}" target="_blank">Javascript Source</a>